<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>The Big Chill</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <!-- <link href="../static/css/jumbotron.css" rel="stylesheet"> -->
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    


  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
      <a class="navbar-brand" href="index">The Big Chill</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="deep_dive">Deep Dive</a>
          </li>
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
          <!-- </li> -->
          <li class="nav-item dropdown">
             
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Members</a>
              <a class="dropdown-item" href="#">Sources</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
         
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <!-- <div class="jumbotron no-padding"> -->
        <img class="container-fluid no-padding" src="../static/image/deep_dive2.jpg">
        <!-- </div> -->
       
        
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        <form id="form" onSubmit="return false;">
            <div class="form-group">
                <label>Enter your Movie Plot</label>
                <!-- TODO - add a character limit -->
                <input type="text" class="form-control" id="input_title" placeholder="Enter Plot" >
            </div>
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <br><hr>
        <h4>Prediction of your next big show</h4>
        <br>
        
        <table id="mytable" class="table">
            <thead><tr class="tableizer-firstrow">
                <th>Plot</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- <tr><td>The Big Chill</td><td>Comedy</td><td>R</td><td>$56.4 million</td></tr> -->
        </tbody></table>
                </div>
            </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>   
    <script src="../static/js/title.js"></script> 
</body>
</html>