<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>The Big Chill</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <!-- <link href="../static/css/jumbotron.css" rel="stylesheet"> -->
    <link href="../static/css/style.css" rel="stylesheet">



  </head>

  <body>
    <!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index">The Big Chill</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="deep_dive">Deep Dive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
      </div>
    </nav>

    <main role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <img class="container-fluid no-padding" src="../static/image/join2.jpg">
      <!-- <div class="jumbotron no-padding ">
            <img src="../static/image/big_chill.jpg" >
        </div> -->
        
        <!-- Example row of columns -->
        <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <h2 class="text-center">Genre Diversity</h2>
            <img id="genre" class="container-fluid no-padding graph" src="/static/image/genres_on_omdb.png" alt="Genre Diversity">
             <p>We found a total of 28 genres in this dataset to train against.  The most common genre is Drama, which causes our predictions to be a bit unbalanced </p>

          </div>
          <div class="col-xl-4">
            <h2 class="text-center">Rating Diversity</h2>
            <img  id="rating" class="container-fluid no-padding graph" src="/static/image/shows_movies_rating.png" alt="Rating Diversity">
            <p>There are a massive amounts of TV shows presented on Netflix. This is no surprise, as there are many Netflix original shows to watch.  Our prediction model can help navigate towards the right genre for you </p>

          </div>
        <!-- </div>
          <div class="row"> -->
            <div class="col-md-4">
              <h2 class="text-center">Common Description Words</h2>
              <img id="words" class="container-fluid no-padding graph" src="/static/image/word_count.png" alt="Common Description Words">
              <p>Finding the right words to train your machine on is key.  Picking valuable words like"young" will give more desirable results rather than "the"</p>

            </div>
          </div>
 

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>The Chill Crew aka: April, Haifa, Julia, Melanie</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
    <script src="../static/js/charts.js"></script> 
 
  </body>
</html>
